.home {
  display: flex;
  flex-direction: column;
  &__top {
    background-color: #e2482f;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    h1 {
      color: #ffffff;
    }
  }
  &__bottom {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}